<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>The Shamber</title>
</head>

<body>
  <div class="jumbotron text-center bgbanner" style="margin-bottom:0">
    <h1>Welcome to the Shamber</h1>
    <p>We deal in shame, and pro-shame accessories.</p>
  </div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">The Shambers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Share-a-Shame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wall of Shame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
  {{{body}}}
</body>

</html>
