<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>The Shamber</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="js/styles/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">

</head>

<body>
    <div class="jumbotron text-center bgbanner" style="margin-bottom:0">
        <h1>Welcome to the Shamber</h1>
        <p>We deal in shame, and pro-shame accessories.</p>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">The Shambers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="1">Share-a-Shame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="2">Wall of Shame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="3">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="home" class="bg">
        <div class="container">
            {{{body}}}
        </div>
    </div>
</body>

</html>