<div class="row">
  <div class="col-8 offset-2">
    <h1>{{msg}}</h1>
    <h2>Welcome to The Shamber</h2>
    <form class="clearfix mb-4">
      <div class="form-group">
        <label for="user_name">Your Name</label>
        <input type="text" id="user_name" class="form-control" aria-describedby="user_name" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="user_shame">Your Shame</label>
        <textarea class="form-control" id="user_shame" aria-describedby="user_shame" placeholder="I can't believe you've done this"></textarea>
      </div>
      <button id="submit_btn" class="btn btn-primary float-right">Submit</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/index.js"></script>
